<app-navbar></app-navbar>



  <div class="container mt-5">
       <div class="row">
        <div class="col-md-12" align="end">
          <div class="navLinks">
            <button mat-button class="p-0 m-0">
              <mat-form-field>
                  <mat-label>Select Country</mat-label>
                  <mat-select [(value)]="selectedCountry" (selectionChange)="onChange($event)">
                      <mat-option value="in">India</mat-option>
                      <mat-option *ngFor="let country of countryArr" [value]="country.code">
                          {{country.country}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </button>
          </div>
        </div>
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
       </div>
  </div>