.searchNews {
    display: flex;
    justify-content: center;
    mat-form-field{
        max-width: 90%;
    }
}

.datePicker {
    width: 150px;
    margin: 0 10px;
    max-width: 90%;
}

@media(max-width:900px){
    .searchNews{
        flex-direction: column;
        align-items: end;
    }
}